body {
	margin: 0;
	padding: 0;
	background-color: orange;
}

* {
	box-sizing: border-box;	
}

.calculator {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4em;
	display: flex;	
	flex-wrap: wrap;	
}

.calculator__control {
	width: calc(14.25% - 5px);	
	height: 50px;	
	background-color: #fff;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 20px;	
	margin-top: 5px;	
	margin-right: 5px;	
	outline: none;
	cursor: pointer;	
}

.calculator__num {
	background-color: #d8d1d0;
}

.calculator__input {
	width: 100%;	
	text-align: right;	
	padding: 5px 10px;	
}

.calculator__clear {
	width: calc(28.5% - 5px);
	background-color: #f7d48f;
}

.calculator__equal {
	background-color: #f2533e;
}

.calculator__char:active {
	background-color: #aaa;
}